
.gallery
   .owl-carousel.owl-theme
      div
         img(src=require("./img/kreslo-shar.jpg") alt="Кресло шар")
      div
         img(src=require("./img/chair-bubble.jpg") alt="Кресло шар")
      div
         img(src=require("./img/kreslo-shar.jpg") alt="Кресло шар")
      div
         img(src=require("./img/chair-bubble.jpg") alt="Кресло шар")
   //- .tabs
   //-    input(type="button" class="prev" value="Назад")
   //-    input(type="button" class="next" value="Вперед")