@font-face {
    font-family: 'AvenirLT-Roman';
    src: url("fonts/AvenirLT-Roman.ttf") format('truetype'),
        url("fonts/AvenirLT-Roman.eot") format('eot'),
        url("fonts/AvenirLT-Roman.woff") format('woff'),
        url("fonts/AvenirLT-Roman.woff") format('woff2'),
        url("fonts/AvenirLT-Roman.svg") format('svg');
        font-weight: normal;
}