<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        link(href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
        //- link(rel="stylesheet" href="./owl.carousel.css")
        title Document
    body
    
    
        div#fullpage  
            .section(data-anchor="block0")
                include blocks/header/header
            .section(data-anchor="block1").product__1
                include blocks/product/product
            .section(data-anchor="block2")
                include blocks/gallery/gallery
            //- .section(data-anchor="block3")
            //-     include blocks/product_2/product_2
            //- .section(data-anchor="block4")
    
    
        

        