html
    font-size: 19px
    font-family:'Montserrat', sans-serif

*   
    margin: 0
    padding: 0
    list-style-type: none
    text-decoration: none
    
:active, :hover, :focus
    outline: 0
    outline-offset: 0

.section
    height 100vh
    overflow hidden
    // box-shadow:inset 0 0 50vw black
    // box-shadow: 0 0 0 999px rgba(0, 0, 0, 0.2);
    // z-index 5
.jqueryFireFly
    z-index 0!important

// #firefly
//     min-height 100vh
//     height 100%
    

@import 'fonts/fonts.styl';
@import 'blocks/header/header.styl';
@import 'blocks/product/product.styl';
@import 'blocks/product/product__card.styl';
@import 'blocks/gallery/gallery.styl'   
@import 'media.styl'
