.header
    color:#fff
   //  padding-top: 0.2vw
    a
        color: #fff

.header__background
	background: url("./img/Nebula.jpg") center no-repeat
	background-size: cover
	position: absolute
	z-index: -2
	height: 100vh
	width: 100%  
	

.logo
	position: absolute
	top: 1vw
	left: 4vw

.menu-wrap
	max-width 1400px
	display: flex
	flex-wrap: wrap
	
	justify-content center
	
	// margin: auto
	// align-items: center 

.menu
	display: flex
	// left 25%
	
	z-index: 9999999
	width 50%
	left 25%
	justify-content center
	margin: auto
	font-size: 1.4rem
	font-weight 200
	text-transform: uppercase
	letter-spacing: 3px
	padding-top: 1vw
	position: fixed
	top: 0
	
	text-align: center;

.menu:after
	content: ""
	background: rgba(31, 32, 65, 0.25)
	height 50px
	width: 100%
	border: 1px
	z-index: -1
	position: fixed
	top: 0

.menu__link
	cursor: pointer


.menu__link:hover + .cssload-wrap
    opacity 1


.menu__item
	padding: 0 15px

#menu li a, #menu li.active a + .cssload-wrap{
   opacity 1;
}
 
/*Стиль элемента списка когда активен соответствующий блок*/
#menu li.active + .cssload-wrap{
	opacity 1;
}

/*   --- Контакты  --- */ 

.submenu
	margin-top: 0.5vw
	opacity: 0
	visibility: hidden
	background: white
	box-shadow: 0 0 5px black
	border-radius: 10px
	padding: 20px 40px
	position: absolute
	font-size: 1.1rem
	font-weight: bold
	text-align: left
	display: flex
	flex-wrap: wrap
	margin-left: -4vw
	// top: 2vw
	letter-spacing: 0

.submenu__link
	color: black
	cursor: pointer
	margin-left: 0.5vw
li > i
	width: 25px
.fa-phone-volume
	color: #0884ee
.fa-whatsapp
	color: #07be1f
.fa-envelope
	color: #ff6f6f

.submenu__item
	margin-top: 1vw

.submenu__item:first-child
	margin-top: 0

.menu__item:hover .submenu
	opacity: 1
	visibility: visible
	transition-duration: 0.9s
	margin-bottom: 1vw


/*   --- Контент  --- */ 
.title
	text-align: center 
	color: white
	z-index 3
h1 
	font-family: "AvenirLT-Roman"
	font-weight: 200
	font-size: 6rem
	text-transform: uppercase
	letter-spacing: 2vw
	margin: 12vh 0 0 0
	z-index 1
	// opacity: 0.5
	background: repeating-linear-gradient(-45deg,#0884ee , #fff)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
// .content__title--small
// 	font-size: 1.5rem
// 	margin-left 39vw

.planet
	position: relative
	display: flex
	justify-content: center
	// min-height: 600px
	// min-width: 600px
	height 100%
	width: 100%
	
	// z-index 888

	
.planet__earth
	width: 30%
	height: 30%
	min-width: 450px
	z-index 1
	// box-shadow: 0 0 20px black
	// border-radius: 50%

.planet__moon
	position: absolute
	height 7vw
	min-height: 18%
	max-height: 20%
	// width: 25%
	left 22vw
	top: 10vw
	animation: linear 12s orbita infinite
	z-index 2

@keyframes orbita
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}

.fa-bullseye
	color: #ff3939
	// text-shadow: 0 -1px rgba(0,0,0,.8);
	-webkit-animation: glowing 2.5s linear infinite
	animation: glowing 2.5s linear infinite
	position: absolute
	font-size: 1.1rem
	left 47vw
	top: 13vh
	z-index: 5
	opacity: 0.9
	border-radius: 50%

// @keyframes pulsate{50%{color:#880000;text-shadow:0 1px rgba(0,0,0,.4),0 0 8px #f03000,0 0 8px #f80000;}}
@keyframes glowing
//   0% { border-radius: 50%;color: #B20000; -webkit-box-shadow: 0 0 4px #B20000; }
	50% { border-radius: 50%;color: #FF0000; -webkit-box-shadow: 0 0 2px 12px #ff3737; }
	60%{opacity: 0;}
	100% { border-radius: 50%;color: #ff3939; -webkit-box-shadow: 0 0 4px #B20000; opacity: 0;}

.location_pop-up
	opacity: 0
	visibility: hidden
	z-index: 6;
	position: relative

.location_pop-up__text
	position: absolute
	font-size: 1rem
	// font-weight: italic
	left -230px
	top: 2.5vw
	z-index: 5
	border: 1px solid
	padding: 10px 10px
	border-radius: 10px
	width: 15vw
	text-align: center
	// font-style: italic
	
	
.location_pop-up__text:before
	content: ""
	width: 1px
	height: 100px
	transform: rotate(95deg)
	left: 310px
	// top 0.5vw
	z-index: 5
	background: white
	position: absolute
.location-marker
	cursor: pointer
.location-marker:hover + .location_pop-up
	opacity 0.8
	visibility: visible
	z-index: 6
	-webkit-animation:zoomIn linear 0.8s
	animation:zoomIn linear 0.8s

// .location-marker:active + .location_pop-up
// 	opacity 0.8
// 	// animation: zoomIn 0.8s linear;
// 	z-index: 6
// 	-webkit-animation:zoomIn linear 0.8s
// 	animation:zoomIn linear 0.8s

@keyframes zoomIn {
  0% {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
	
  }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  100% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}




// 


.cssload-wrap {
	text-align: center;
	line-height: 23px;
   opacity 0
}

.cssload-container {
	display: inline-block;
	
	text-align: center;
	margin-left -0.5vw
}

.cssload-dots {
	display: inline-block;
	position: relative;
}
.cssload-dots:not(:last-child) {
	margin-right: 9px;
}
.cssload-dots:before, .cssload-dots:after {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	position: absolute;
}
.cssload-dots:nth-child(1):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.15s linear infinite;
		-o-animation: cssload-animBefore 1.15s linear infinite;
		-ms-animation: cssload-animBefore 1.15s linear infinite;
		-webkit-animation: cssload-animBefore 1.15s linear infinite;
		-moz-animation: cssload-animBefore 1.15s linear infinite;
	animation-delay: -1.04s;
		-o-animation-delay: -1.04s;
		-ms-animation-delay: -1.04s;
		-webkit-animation-delay: -1.04s;
		-moz-animation-delay: -1.04s;
	background-color: white;
}
.cssload-dots:nth-child(1):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.15s linear infinite;
		-o-animation: cssload-animAfter 1.15s linear infinite;
		-ms-animation: cssload-animAfter 1.15s linear infinite;
		-webkit-animation: cssload-animAfter 1.15s linear infinite;
		-moz-animation: cssload-animAfter 1.15s linear infinite;
	animation-delay: -1.04s;
		-o-animation-delay: -1.04s;
		-ms-animation-delay: -1.04s;
		-webkit-animation-delay: -1.04s;
		-moz-animation-delay: -1.04s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(2):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.15s linear infinite;
		-o-animation: cssload-animBefore 1.15s linear infinite;
		-ms-animation: cssload-animBefore 1.15s linear infinite;
		-webkit-animation: cssload-animBefore 1.15s linear infinite;
		-moz-animation: cssload-animBefore 1.15s linear infinite;
	animation-delay: -2.07s;
		-o-animation-delay: -2.07s;
		-ms-animation-delay: -2.07s;
		-webkit-animation-delay: -2.07s;
		-moz-animation-delay: -2.07s;
	background-color: white;
}
.cssload-dots:nth-child(2):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.15s linear infinite;
		-o-animation: cssload-animAfter 1.15s linear infinite;
		-ms-animation: cssload-animAfter 1.15s linear infinite;
		-webkit-animation: cssload-animAfter 1.15s linear infinite;
		-moz-animation: cssload-animAfter 1.15s linear infinite;
	animation-delay: -2.07s;
		-o-animation-delay: -2.07s;
		-ms-animation-delay: -2.07s;
		-webkit-animation-delay: -2.07s;
		-moz-animation-delay: -2.07s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(3):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.15s linear infinite;
		-o-animation: cssload-animBefore 1.15s linear infinite;
		-ms-animation: cssload-animBefore 1.15s linear infinite;
		-webkit-animation: cssload-animBefore 1.15s linear infinite;
		-moz-animation: cssload-animBefore 1.15s linear infinite;
	animation-delay: -3.11s;
		-o-animation-delay: -3.11s;
		-ms-animation-delay: -3.11s;
		-webkit-animation-delay: -3.11s;
		-moz-animation-delay: -3.11s;
	background-color: white;
}
.cssload-dots:nth-child(3):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.15s linear infinite;
		-o-animation: cssload-animAfter 1.15s linear infinite;
		-ms-animation: cssload-animAfter 1.15s linear infinite;
		-webkit-animation: cssload-animAfter 1.15s linear infinite;
		-moz-animation: cssload-animAfter 1.15s linear infinite;
	animation-delay: -3.11s;
		-o-animation-delay: -3.11s;
		-ms-animation-delay: -3.11s;
		-webkit-animation-delay: -3.11s;
		-moz-animation-delay: -3.11s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(4):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.15s linear infinite;
		-o-animation: cssload-animBefore 1.15s linear infinite;
		-ms-animation: cssload-animBefore 1.15s linear infinite;
		-webkit-animation: cssload-animBefore 1.15s linear infinite;
		-moz-animation: cssload-animBefore 1.15s linear infinite;
	animation-delay: -4.14s;
		-o-animation-delay: -4.14s;
		-ms-animation-delay: -4.14s;
		-webkit-animation-delay: -4.14s;
		-moz-animation-delay: -4.14s;
	background-color: white;
}
.cssload-dots:nth-child(4):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.15s linear infinite;
		-o-animation: cssload-animAfter 1.15s linear infinite;
		-ms-animation: cssload-animAfter 1.15s linear infinite;
		-webkit-animation: cssload-animAfter 1.15s linear infinite;
		-moz-animation: cssload-animAfter 1.15s linear infinite;
	animation-delay: -4.14s;
		-o-animation-delay: -4.14s;
		-ms-animation-delay: -4.14s;
		-webkit-animation-delay: -4.14s;
		-moz-animation-delay: -4.14s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(5):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.15s linear infinite;
		-o-animation: cssload-animBefore 1.15s linear infinite;
		-ms-animation: cssload-animBefore 1.15s linear infinite;
		-webkit-animation: cssload-animBefore 1.15s linear infinite;
		-moz-animation: cssload-animBefore 1.15s linear infinite;
	animation-delay: -5.18s;
		-o-animation-delay: -5.18s;
		-ms-animation-delay: -5.18s;
		-webkit-animation-delay: -5.18s;
		-moz-animation-delay: -5.18s;
	background-color: white;
}
.cssload-dots:nth-child(5):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.15s linear infinite;
		-o-animation: cssload-animAfter 1.15s linear infinite;
		-ms-animation: cssload-animAfter 1.15s linear infinite;
		-webkit-animation: cssload-animAfter 1.15s linear infinite;
		-moz-animation: cssload-animAfter 1.15s linear infinite;
	animation-delay: -5.18s;
		-o-animation-delay: -5.18s;
		-ms-animation-delay: -5.18s;
		-webkit-animation-delay: -5.18s;
		-moz-animation-delay: -5.18s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(6):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.15s linear infinite;
		-o-animation: cssload-animBefore 1.15s linear infinite;
		-ms-animation: cssload-animBefore 1.15s linear infinite;
		-webkit-animation: cssload-animBefore 1.15s linear infinite;
		-moz-animation: cssload-animBefore 1.15s linear infinite;
	animation-delay: -6.21s;
		-o-animation-delay: -6.21s;
		-ms-animation-delay: -6.21s;
		-webkit-animation-delay: -6.21s;
		-moz-animation-delay: -6.21s;
	background-color: white;
}
.cssload-dots:nth-child(6):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.15s linear infinite;
		-o-animation: cssload-animAfter 1.15s linear infinite;
		-ms-animation: cssload-animAfter 1.15s linear infinite;
		-webkit-animation: cssload-animAfter 1.15s linear infinite;
		-moz-animation: cssload-animAfter 1.15s linear infinite;
	animation-delay: -6.21s;
		-o-animation-delay: -6.21s;
		-ms-animation-delay: -6.21s;
		-webkit-animation-delay: -6.21s;
		-moz-animation-delay: -6.21s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(7):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.15s linear infinite;
		-o-animation: cssload-animBefore 1.15s linear infinite;
		-ms-animation: cssload-animBefore 1.15s linear infinite;
		-webkit-animation: cssload-animBefore 1.15s linear infinite;
		-moz-animation: cssload-animBefore 1.15s linear infinite;
	animation-delay: -7.25s;
		-o-animation-delay: -7.25s;
		-ms-animation-delay: -7.25s;
		-webkit-animation-delay: -7.25s;
		-moz-animation-delay: -7.25s;
	background-color: white;
}
.cssload-dots:nth-child(7):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.15s linear infinite;
		-o-animation: cssload-animAfter 1.15s linear infinite;
		-ms-animation: cssload-animAfter 1.15s linear infinite;
		-webkit-animation: cssload-animAfter 1.15s linear infinite;
		-moz-animation: cssload-animAfter 1.15s linear infinite;
	animation-delay: -7.25s;
		-o-animation-delay: -7.25s;
		-ms-animation-delay: -7.25s;
		-webkit-animation-delay: -7.25s;
		-moz-animation-delay: -7.25s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(8):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.15s linear infinite;
		-o-animation: cssload-animBefore 1.15s linear infinite;
		-ms-animation: cssload-animBefore 1.15s linear infinite;
		-webkit-animation: cssload-animBefore 1.15s linear infinite;
		-moz-animation: cssload-animBefore 1.15s linear infinite;
	animation-delay: -8.28s;
		-o-animation-delay: -8.28s;
		-ms-animation-delay: -8.28s;
		-webkit-animation-delay: -8.28s;
		-moz-animation-delay: -8.28s;
	background-color: white;
}
.cssload-dots:nth-child(8):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.15s linear infinite;
		-o-animation: cssload-animAfter 1.15s linear infinite;
		-ms-animation: cssload-animAfter 1.15s linear infinite;
		-webkit-animation: cssload-animAfter 1.15s linear infinite;
		-moz-animation: cssload-animAfter 1.15s linear infinite;
	animation-delay: -8.28s;
		-o-animation-delay: -8.28s;
		-ms-animation-delay: -8.28s;
		-webkit-animation-delay: -8.28s;
		-moz-animation-delay: -8.28s;
	background-color: rgb(119,119,119);
}
.cssload-dots:nth-child(9):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.15s linear infinite;
		-o-animation: cssload-animBefore 1.15s linear infinite;
		-ms-animation: cssload-animBefore 1.15s linear infinite;
		-webkit-animation: cssload-animBefore 1.15s linear infinite;
		-moz-animation: cssload-animBefore 1.15s linear infinite;
	animation-delay: -9.32s;
		-o-animation-delay: -9.32s;
		-ms-animation-delay: -9.32s;
		-webkit-animation-delay: -9.32s;
		-moz-animation-delay: -9.32s;
	background-color: white;
}
.cssload-dots:nth-child(9):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.15s linear infinite;
		-o-animation: cssload-animAfter 1.15s linear infinite;
		-ms-animation: cssload-animAfter 1.15s linear infinite;
		-webkit-animation: cssload-animAfter 1.15s linear infinite;
		-moz-animation: cssload-animAfter 1.15s linear infinite;
	animation-delay: -9.32s;
		-o-animation-delay: -9.32s;
		-ms-animation-delay: -9.32s;
		-webkit-animation-delay: -9.32s;
		-moz-animation-delay: -9.32s;
	background-color: #777;
}
.cssload-dots:nth-child(10):before {
	transform: translateY(-200%);
		-o-transform: translateY(-200%);
		-ms-transform: translateY(-200%);
		-webkit-transform: translateY(-200%);
		-moz-transform: translateY(-200%);
	animation: cssload-animBefore 1.15s linear infinite;
		-o-animation: cssload-animBefore 1.15s linear infinite;
		-ms-animation: cssload-animBefore 1.15s linear infinite;
		-webkit-animation: cssload-animBefore 1.15s linear infinite;
		-moz-animation: cssload-animBefore 1.15s linear infinite;
	animation-delay: -10.35s;
		-o-animation-delay: -10.35s;
		-ms-animation-delay: -10.35s;
		-webkit-animation-delay: -10.35s;
		-moz-animation-delay: -10.35s;
	background-color:white;
}
.cssload-dots:nth-child(10):after {
	transform: translateY(200%);
		-o-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
	animation: cssload-animAfter 1.15s linear infinite;
		-o-animation: cssload-animAfter 1.15s linear infinite;
		-ms-animation: cssload-animAfter 1.15s linear infinite;
		-webkit-animation: cssload-animAfter 1.15s linear infinite;
		-moz-animation: cssload-animAfter 1.15s linear infinite;
	animation-delay: -10.35s;
		-o-animation-delay: -10.35s;
		-ms-animation-delay: -10.35s;
		-webkit-animation-delay: -10.35s;
		-moz-animation-delay: -10.35s;
	background-color: #777;
}




@keyframes cssload-animBefore {
	0% {
		transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-o-keyframes cssload-animBefore {
	0% {
		-o-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-o-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-o-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-o-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-o-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-ms-keyframes cssload-animBefore {
	0% {
		-ms-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-ms-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-ms-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-ms-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-ms-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-webkit-keyframes cssload-animBefore {
	0% {
		-webkit-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-webkit-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-webkit-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-webkit-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-webkit-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@-moz-keyframes cssload-animBefore {
	0% {
		-moz-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	25% {
		-moz-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	50% {
		-moz-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	75% {
		-moz-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	100% {
		-moz-transform: scale(1) translateY(-200%);
		z-index: -1;
	}
}

@keyframes cssload-animAfter {
	0% {
		transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-o-keyframes cssload-animAfter {
	0% {
		-o-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-o-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-o-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-o-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-o-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-ms-keyframes cssload-animAfter {
	0% {
		-ms-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-ms-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-ms-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-ms-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-ms-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-webkit-keyframes cssload-animAfter {
	0% {
		-webkit-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-webkit-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-webkit-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-webkit-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-webkit-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}

@-moz-keyframes cssload-animAfter {
	0% {
		-moz-transform: scale(1) translateY(200%);
		z-index: -1;
	}
	25% {
		-moz-transform: scale(0.7) translateY(0);
		z-index: -1;
	}
	50% {
		-moz-transform: scale(1) translateY(-200%);
		z-index: 1;
	}
	75% {
		-moz-transform: scale(1.3) translateY(0);
		z-index: 1;
	}
	100% {
		-moz-transform: scale(1) translateY(200%);
		z-index: 1;
	}
}