.header
    
    .header__background
        
    .menu-wrap
        //- .logo
        //-     a.logo__link(href="#")
        //-         img(src="#", alt="logo")
        ul.menu#menu
            li(data-menuanchor="home" ).menu__item 
                a.menu__link(href="#home") Главная
            li(data-menuanchor="product" ).menu__item
                a.menu__link(href="#product") Продукция
                .cssload-wrap
                    .cssload-container
                        .cssload-dots
                        .cssload-dots
                        .cssload-dots
                        .cssload-dots
                        .cssload-dots
                        .cssload-dots
                        .cssload-dots
                        .cssload-dots
                        .cssload-dots
                        
                        

            li(data-menuanchor="project").menu__item
                a.menu__link(href="#project") Проекты
                .cssload-wrap
                    .cssload-container
                        .cssload-dots
                        .cssload-dots
                        .cssload-dots
                        .cssload-dots
                        .cssload-dots
                        .cssload-dots
                        .cssload-dots
                        //- .cssload-dots
                        //- .cssload-dots
                        //- .cssload-dots
                        
                        
                        
            li.menu__item
               a.menu__link Контакты
            .submenu__wrap   
                ul.submenu
                    li.submenu__item
                        <i class="fas fa-phone-volume"></i>
                        a.submenu__link(href="tel:+79124024813" title='Позвонить') 8 912 402 48 13
                    li.submenu__item
                        <i class="fab fa-whatsapp"></i>
                        a.submenu__link(href="https://wa.me/79124024813" title='Написать в whatsapp') 8 912 402 48 13
                    li.submenu__item
                        <i class="fas fa-envelope"></i>
                        a.submenu__link(href="mailto:79124024813@mail.ru" title='Написать на почту') 79124024813@mail.ru
                    li.submenu__item
                        <i class="fab fa-vk"></i>
                        a.submenu__link(href="https://vk.com/club186177770" title='Мы в ВК') Solaris Chair
                    li.submenu__item
                        <i class="fab fa-instagram"></i>
                        a.submenu__link(href="https://www.instagram.com/solarischair/" title='Мы в инстаргам') solarischair
                    li.submenu__item
                        <i class="fab fa-facebook-f"></i>
                        a.submenu__link(href="#" title='Мы в facebook') solarischair
                    

    .content-wrap
        //- .background__image
        //-     img(src=require("") alt="")
        .title   
            h1 Solaris
                p.content__title--small chair
        .planet
            .location
                a.location-marker(title= "Наш адрес")
                    i.fas.fa-bullseye
                .location_pop-up
                    p.location_pop-up__text
                        |г. Магнитогорск<br>
                        |ул. Комсомольская 103
                        
            img.planet__moon(src=require("./img/moon.png") alt="Moon")
            img.planet__earth(src=require("./img/earth-card.png") alt="Earth")
            
