

mixin product__card(options, slider)
   -
      if(options.position == undefined)
         var position = ""
      else
         position = "position--" + options.position

      if(options.color == undefined)
         var color = ""
      else
         color = "color--" + options.color

      //- if(options.slider == undefined)
      //-    var slider = "slider--" + options.slider
      //- else
      //-    slider = ""

   .card__wrap(class = color, class = position)
      
      .card__column.card__column--left  
         h3.card__title BUBBLE CHAIR 
         p.addit__title (Кресло пузырь)<br>подвесное к потолку
         ul.card__text
            li - Материал подушек: эко-кожа, натуральная кожа, ткань на выбор. 
            li - Цвета обсуждаются индивидуально. 
            li - Длина цепи 1,5 метра.
            li - Максимальная нагрузка 150 кг.
            li - Диаметр: 110 см. 
            li - Глубина кресла: 70 см. 
            li - Вес: 31 кг.
         form#form.card__form(autocomplete="off")
            
            input(type="text" name="name" placeholder="Ваше имя" required)
            
            input(type="tel" name="phone" placeholder="Ваш телефон" required)
            input.order--none(type="text" name="order" value="Кресло пузырь - подвесное к потолку")
            button.card__btn Купить
            

      .card__column.card__column--right
         .slider_2
            - var x = 1
            - var num = 0
            - for (var i=1; i<=x; i++) {
            
             - num += 1;
               - imgSlider = options.slider
               - if(num === 1)
                  .item
                     img(src='img/'+ 'card__' + imgSlider + '.png' alt='text').slide-img 
               -   else
                  .item
                     img(src='img/'+ 'card__' + imgSlider + i + '.png' alt='text').slide-img
            -}
                  
            
            //- .arrows_wrapper 
            //-    .arrow
            //-       i.fas.fa-chevron-circle-left#prev
            //-    .arrow
            //-       i.fas.fa-chevron-circle-right#next
            .price
               span 25 000 руб