
.product
   height: 100vh
   overflow: hidden
   
.section
   position: relative
.product__background
   
   // opacity 0.8
   z-index -2
   position absolute
   height: 100%
   width: 100% 
   img 
      width: 100%
      height: 100%
      z-index: -2

.product-list
   position: relative
   top: 72vh
   // transform: rotate(90deg)

.product-list__img
   width: 70%
   height 70%
   display: block
   margin: 20% auto
   animation: rotation 9s infinite linear
   cursor: pointer
   // box-shadow: -0.5vw -1vw 2vw white
   // border-radius: 50%

.product-list__item:nth-child(1) .product-list__img
   animation: rotation 8s infinite linear

.product-list__item:nth-child(2) .product-list__img
   animation: rotation 10s infinite linear

.product-list__item:nth-child(3) .product-list__img
   animation: rotation 9.4s infinite linear

.product-list__item:nth-child(4) .product-list__img
   animation: rotation 6.5s infinite linear

.product-list__item:nth-child(5) .product-list__img
   animation: rotation 9.5s infinite linear

.product-list__item:nth-child(6) .product-list__img
   animation: rotation 7s infinite linear

.product-list__item:nth-child(7) .product-list__img
   animation: rotation 7.5s infinite linear
@keyframes rotation
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}


.product-list__link:hover .card__wrap
      opacity 1
      visibility: visible

// .product-list__link:focus  div
//    opacity 1
//    visibility: visible

.product-img__wrap
   position: absolute
   box-shadow: inset -0.5vw -3vw 3vw black
   border-radius: 50%

.img__mercury
   // top 33vw
   left: 3vw
   width: 9vw
   height 9vw
   background: url(./img/mercury.png) center no-repeat
   background-size: cover  

.img__venus
   top -2vw
   left: 13vw
   width: 12vw
   height 12vw
   background: url(./img/venus.png) center no-repeat
   background-size: cover
   
.img__earth
   top -1.5vw
   left: 26vw
   width: 11vw   
   height 11vw
   background: url(./img/earth-card.png) center no-repeat
   background-size: 115%

.img__mars
   top -1vw
   left: 38vw
   width: 10vw   
   height 10vw
   background: url(./img/mars.png) center no-repeat
   background-size: 108%

.img__jupiter
   top -4vw
   left: 49vw
   width: 17vw   
   height 17vw
   background: url(./img/jupiter.png) center no-repeat
   background-size: 108%

.img__saturn
   top -11vw
   left: 58vw
   width: 30vw   
   height 30vw
   background: url(./img/saturn.png) center no-repeat
   background-size: contain
   box-shadow: none


.img__uranus
   top 0.5vw
   left: 80vw
   width: 8vw   
   height 8vw
   background: url(./img/uranus.png) center no-repeat
   background-size: contain
   box-shadow: none

.img__neptune
   top 1vw
   left: 89vw
   width: 7vw   
   height 7vw
   background: url(./img/neptune.png) center no-repeat
   background-size: contain
   box-shadow: none

.img--position
   width 10vw
   height 10vw
   margin 0
   position: absolute
   top 11vw
   left 10vw
   
