
.product
   // height: 100vh
   overflow: hidden
   
.product__background
   background: url("./img/kosmos.png") center no-repeat
   background-size: cover
   position: absolute
   // z-index: -2
   height: 100vh
   width: 100%  

.product-list
   position: relative
   margin-top: 320px
   display: flex
   justify-content: space-between
   align-items: center
   padding: 0 10px 0 10px

.product-list__img
   width: 70%
   height 70%
   display: block
   margin:0 auto
   animation: rotation 9s infinite linear
   cursor: pointer
   position: relative
   z-index: 5
   // box-shadow: -0.5vw -1vw 2vw white
   // border-radius: 50%

.product-list__item:nth-child(1) .product-list__img
   animation: rotation 8s infinite linear

.product-list__item:nth-child(2) .product-list__img
   animation: rotation 10s infinite linear

.product-list__item:nth-child(3) .product-list__img
   animation: rotation 9.4s infinite linear

.product-list__item:nth-child(4) .product-list__img
   animation: rotation 6.5s infinite linear

.product-list__item:nth-child(5) .product-list__img
   animation: rotation 9.5s infinite linear

.product-list__item:nth-child(6) .product-list__img
   animation: rotation 7s infinite linear

.product-list__item:nth-child(7) .product-list__img
   animation: rotation 7.5s infinite linear
@keyframes rotation
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}

// .product-list__link
//    i

.product-list__link:hover .card__wrap
      opacity 1
      visibility: visible

// .product-list__link:focus  div
//    opacity 1
//    visibility: visible
.product-img__wrap
   padding-top: 50px
   

.img__mercury
   width: 9vw
   height 9vw
   // min-width 110px
   // min-height: 110px
   background: url(./img/mercury.png) center no-repeat
   background-size: contain
   box-shadow: none
   margin-right 5px

.img__venus
   width: 12vw
   height 12vw
   // min-width 121px
   // min-height: 110px
   background: url(./img/venus.png) center no-repeat
   background-size: contain
   
.img__earth
   width: 11vw   
   height 11vw
   // min-width 110px
   // min-height: 110px
   background: url(./img/earth-card.png) center no-repeat
   background-size: contain

.img__mars
   width: 10vw   
   height 10vw
   // min-width 110px
   // min-height: 110px
   background: url(./img/mars.png) center no-repeat
   background-size: contain

.img__jupiter
   width: 17vw   
   height 17vw
   // min-width 110px
   // min-height: 110px
   background: url(./img/jupiter.png) center no-repeat
   background-size: contain
   padding-top 100px

.img__saturn
   width: 20vw   
   height 20vw
   // min-width 110px
   // min-height: 110px
   background: url(./img/saturn.png) center no-repeat
   background-size: contain
   padding-top 170px
   margin: 0 -4vw


.img__uranus
   width: 8vw   
   height 8vw
   // min-width 110px
   // min-height: 110px
   background: url(./img/uranus.png) center no-repeat
   background-size: contain

.img__neptune
   width: 7vw   
   height 7vw
   // min-width 110px
   // min-height: 110px
   background: url(./img/neptune.png) center no-repeat
   background-size: contain

.img--position
   width 10vw
   height 10vw
   
   
   
